@import "reset.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f9fc;
  padding: 50px;
}

.canvas-wrap {
  position: relative;
}

.canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 50px;
}

.save {
  position: absolute;
  top: 0px;
  right: -50px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls .control-range {
  margin-top: 25px;
}

.range {
  display: none;
}

#stroke-range {
  color: #000;
  background-color: #000;
}

.text-setting {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-setting input {
  height: 40px;
  width: 200px;
  font-size: 1.25rem;
}

.font-size-wrap {
  border-radius: 8px;
  overflow: hidden;
  margin-left: 1rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.text-setting label {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 1.25rem;
  background-color: #9fc5e8;
  color: #fff;
  text-align: center;
  line-height: 40px;
  padding: 1px 2px;
  margin-right: -4px;

}
.text-setting #font-size {
  width: 50px;
  border: none;

  
}


.control-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-btns {
  margin-right: 4px;
}

button {
  all: unset;
  cursor: pointer;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
}

input {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#color-picker {
  border-radius: 5px;
  height: 36px;
  font-size: 16px;
  
}

i {
  pointer-events: none;
}

